/**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* panel admin */

.admin-container {
    text-align: center;
    margin-top: 70px;
    padding: 20px;
}

.admin-container h1 {
    color: #2e7d32;
    margin-bottom: 15px;
}

.admin-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 280px;
    margin: 40px auto;
}

.admin-btn,
.logout-btn {
    padding: 14px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.admin-btn {
    background: #2e7d32;
}

.admin-btn:hover {
    background: #1b5e20;
}

.logout-btn {
    background: #c62828;
    cursor: pointer;
}

.logout-btn:hover {
    background: #8e0000;
}
